
        body{
            margin: 0px;
            
        }
        
        #filariane {
            padding-top: 15px;
            width: 100%;
            background-color: white;
            color: black;
            display: flex;
            text-align: left;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 36px;
            height: 36px;
            padding-left: 18px;
        }

        #bandeau{
            
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            
            position: absolute;
            align-items: center;
            top: 150px;
        }

        header {
           background-image: url(./img/fond1intro.jpg); color:white;
            background-repeat: no-repeat;
            background-size: 100%;
                 
            text-align: center;     
            height: 500px;
            margin: 0px;
        }

        #right {
            width: 25%;
            padding-left: .5rem;
            margin-left: .5rem;
            float: right;
            margin-bottom: auto; 
            padding-bottom: auto;
            text-align: match-parent;
                  
        }

        #left {
            width: 75%;
            padding-right: .5rem;
            margin-right: .5rem;
            float: left;
            margin-bottom: auto; 
            padding-bottom: auto;
        }
        
        main {
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            
            
        }


        h2 {
            text-transform: capitalize;
            color: #F0B710;
            font-weight: normal;
        }

        h3{
            color: #F0B710;
        }

        i{
            color: grey;
            padding-right: 10px;
        }

        .button {
            background-color: grey;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }

          #lien{
            color: white;
            padding: 2px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
           }
           #lien>i{
            padding-right: 0px;
           }

           section>div{
               padding-top: 12px;
               padding-bottom: 12px;
           }
           section{
            margin-left: 10%;
            margin-right: 10%;
           }

                  

        .input-icons i {
            position: absolute;
        }
          
        .input-icons {
           position: absolute;top: 9px;left: 385px;
            
        }
          
        .icon {
            position: absolute;top: 9px;left: 400px;
        }

        .div-form{
            margin-bottom: 10px; 
        }
        
        .input-field {
            width:412px;
            padding: 10px;
            text-align: left;
            position: relative;
        }

        .select-input{
            margin-top: 2px;
            width: 435px;
            height: 40px;
        
        }

        .relatif{
            position: relative;
        }

        
       form>div{
           padding-top: 3px;
           padding-bottom: 3px;
       }

       .champs{
           padding-bottom: 5px;

       }
     
      