
        body{
            max-width: 1280px;
            
        }
        
        #filariane {
            max-width: 1280px;
            width: 100%;
            background-color: white;
            color: black;
            display: flex;
            text-align: left;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 36px;
            height: 36px;
            margin: 18px;
        }

        #bandeau{
            max-width: 640px;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            position: absolute;
            align-items: center;
            top: 150px;
        }

        header {
            max-width: 1280px;
            width: 100%;
            background-image: url(./img/fond1intro.jpg); color:white;
            display: flex;
            align-items: middle;
            text-align: center;     
            height: 500px;
            margin: 10px;
        }

        #right {
            width: 25%;
            padding-left: .5rem;
            margin-left: .5rem;
            float: right;
            margin-bottom: auto; 
            padding-bottom: auto;
            text-align: match-parent;
                  
        }

        #left {
            width: 75%;
            padding-right: .5rem;
            margin-right: .5rem;
            float: left;
            margin-bottom: auto; 
            padding-bottom: auto;
        }
        
        main {
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            align-items: flex-start;
            
        }


        h2 {
            text-transform: capitalize;
            color: #F0B710;
            font-weight: normal;
        }

        h3{
            color: #F0B710;
        }

        i{
            color: grey;
            padding-right: 10px;
        }

        .button {
            background-color: grey;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }

          #lien{
            color: white;
            padding: 2px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
           }
           #lien>i{
            padding-right: 0px;
           }

           section>div{
               padding-top: 12px;
               padding-bottom: 12px;
           }

           form>div>div{
            padding-top: 12px;
            padding-bottom: 12px;
           }

           form>input {
            width: 500px;
          }

        .input-icons i {
            position: absolute;
        }
          
        .input-icons {
            width: 100%;
            margin-bottom: 10px;
            
        }
          
        .icon {
            padding: 10px;
            min-width: 40px;
        }
          
        .input-field {
            width: 100%;
            padding: 10px;
            text-align: left;
        }
