
        
        
        #filariane {
            display: flex;
            justify-content: left;
            list-style-type: none;
        }

        #bandeau {
            background-image: url(./img/fond1intro.jpg); color:white;
            display: center;
            text-align: center;     
            height: 500px;
            margin: 2px 10px;
        }

        #right {
            width: 40%;
            padding-left: .5rem;
            margin-left: .5rem;
            float: right;
            margin-bottom: -1000px; 
            padding-bottom: 1000px;
            text-align: match-parent;
                  
        }

        #left {
            width: 60%;
            padding-right: .5rem;
            margin-right: .5rem;
            float: left;
            margin-bottom: -1000px; 
            padding-bottom: 1000px;
        }

        main {
            overflow: hidden;
            
        }


        h2 {
            text-transform: capitalize;
            color: #F0B710
            font-weight: normal;
        }

        h3{
            color: #F0B710
        }

        i{
            color: grey;
            padding-right: 10px;
        }

        .button {
            background-color: grey;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }

          #lien{
            color: white;
            padding: 2px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
           }
           #lien>i{
            padding-right: 0px;
           }


